<div class="card bg-dark text-white">
  <%= image_tag "movie.jpg", alt: "cinema", class:"img-fluid card-img" %>
</div>



<ul>
<% @lists.each do |list| %>
  <li>
  <%= link_to list.name, list_path(list) %>
  </li>
<% end %>
</ul>
